* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.video-container {
    position: relative;
    width: 100%;
    /* Este padding-top vai criar um aspect ratio de 16:9 para o vídeo */
    padding-top: 56.25%;
}

.video-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 600px) {
    .video-container {
        padding-top: 75%; /* Alterando o aspect ratio para dispositivos mais estreitos */
    }
}

/* Adicione mais media queries conforme necessário */
